.home-page__header {
  background-color: brown;
  padding: 20px;
  color: white;
}

.home-page__content {
  padding: 20px;
}

.open-modal-button-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.open-modal-button {
  margin-top: 20px;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
