.home-page__header {
  background-color: brown;
  padding: 20px;
  color: white;
}

.home-page__content {
  padding: 20px;
}

.add-team-member-modal-button-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
}

.add-team-button {
  background-color: #0080ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.add-team-button:hover {
  background-color: #0066cc;
}

.add-member-button {
  background-color: #0080ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.add-member-button:hover {
  background-color: #0066cc;
}
