@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.accordion {
  width: 100%;

  .accordion-item {
    border: 1px solid $gray-300;
    margin-bottom: 10px;

    &--active {
      border-color: $gray-400;
    }

    &__header {
      background-color: $gray-200;
      padding: 10px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
    }

    &__left-container {
      width: 50%;
      padding: 10px;
      border: 1px solid $gray-300;
    }

    &__right-container {
      width: 50%;
      padding: 10px;
      border: 1px solid $gray-300;
    }

    .container-padding {
      padding: 5px;
      height: 300px;
      overflow-y: auto;
    }

    .team-details {
      text-align: center;
    }

    .team-label {
      text-align: left;
      margin-bottom: 5px;
    }

    .label-bold {
      font-weight: bold;
    }

    .accordion-item__title {
      text-align: left;
    }

    .accordion-item__buttons {
      display: flex;
      gap: 10px;
      margin-left: auto;
    }

    .delete-button {
      padding: 5px 10px;
      background-color: $primary;
      color: $white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .delete-button:hover {
      background-color: $primary;
    }
  }
  .accordion-item-enter-active,
  .accordion-item-leave-active {
    transition: opacity 0.3s ease;
  }

  .accordion-item-enter,
  .accordion-item-leave-to {
    opacity: 0;
  }

  .accordion-content-enter,
  .accordion-content-leave-to {
    max-height: 0;
    overflow: hidden;
  }
  @media (max-width: 768px) {
    .accordion-item__right-container {
      width: 100%;
    }
    .accordion-item__right-container--mobile {
      order: 1;
    }
    .accordion-item__left-container {
      width: 100%;
    }
    .accordion-item__left-container--mobile {
      order: 2;
    }
  }
}
